.header {
  background-color: deepskyblue;
  height: 22px;
  /* padding: 0px; */
  display: flex;
  margin: 0%;
  font-size: 12px;
  padding: 0%;
  color: whitesmoke;
}

.social {
  margin-left: 0px;
  padding-left: 35%;
}
.mail {
  padding-left: 12%;
  margin-left: 0px;
}
span {
  margin-left: 5%;
}

@media only screen and (max-width: 600px) {
  .header {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  .header {
    font-size: 8px;
  }
}
